<?xml version="1.0" encoding="UTF-8"?>
<!--
 The following server configuration can be used for compressed WebGL builds without decompression fallback.
 This configuration file should be uploaded to the server as "<Application Folder>/Build/web.config".

NOTE: To host compressed WebGL builds without decompression fallback, you need to install the "URL Rewrite" IIS module on the server.
Otherwise, IIS will throw an exception when using this configuration file.
This module is available at https://www.iis.net/downloads/microsoft/url-rewrite.
-->


<configuration>
 <system.webServer>
         <staticContent>
                 <remove fileExtension=".unityweb" />
                 <mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
         </staticContent>
         <rewrite>
                 <outboundRules>
                     <rule name="Append br Content-Encoding header">
                         <match serverVariable="RESPONSE_Content-Encoding" pattern=".*" />
                         <conditions>
                                 <add input="{REQUEST_FILENAME}" pattern="\.unityweb$" />
                         </conditions>
                         <action type="Rewrite" value="br" />
                     </rule>
                 </outboundRules>
         </rewrite>
 </system.webServer>
</configuration>